[submodule "FCNCSupport"]
	path = FCNCSupport
	url = git@github.com:liboyang0112/FCNCSupport.git
[submodule "PlotTools"]
	path = PlotTools
	url = git@github.com:liboyang0112/PlotTools.git
[submodule "thuthesis"]
	path = thuthesis
	url = git@github.com:liboyang0112/thuthesis.git
[submodule "tools"]
	path = tools
	url = git@github.com:liboyang0112/tools.git
[submodule "FCNCAnalysis"]
	path = FCNCAnalysis
	url = git@github.com:liboyang0112/FCNCAnalysis.git
[submodule "TRExFitter"]
	path = TRExFitter
	url = git@github.com:liboyang0112/TRExFitter.git
[submodule "FCNCFigures"]
	path = FCNCFigures
	url = git@github.com:liboyang0112/FCNCFigures.git
[submodule "FCNCTables"]
	path = FCNCTables
	url = git@github.com:liboyang0112/FCNCTables.git
[submodule "fcnc-paper"]
	path = fcnc-paper
	url = git@github.com:liboyang0112/fcnc-paper.git
